/*A pagina deve ter as cores do Real Madrid.

Além disso, lembre de aplicar as unidades de medidas de forma
inteligente. Para isso consulte o DOCS se necessário

*/



body{
    margin: 0;
}

h1, h2{
    margin: 0;
}

#cape{
    background-color: #F28705;
    align-items: center;
}

#apresentation{
    background-color: #367DD9;
}

#rodape{
    background-color: #F2F2F2;
    
    padding: 15px;
}

form{
    margin-top: 15px;
}


input{
    width: 230px;
    height: 20px;
    border-radius: 8px;
}

label{
    display: block;
    margin-top: 12px;
}

textarea{
    margin-top: 12px;
    width: 230px;
    height: 80px;
    border-radius: 8px;
}

button, input{

    width: 230px;
    height: 20px;
    border-radius: 8px;
    
}


button{
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}


